:root {
    --lime-green: #7B1E25;
    --dark-green: #4A0E14;
    --light-gray: #d3d3d3;
    --dark-gray: #333333;
    --white: #D4AF37;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--dark-blue);
    background-color: var(--light-gray);
}

header {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.menu {
    display: flex;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.menu a:hover {
    background-color: var(--lime-green);
    color: var(--dark-green);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 2px 0;
    transition: 0.3s;
}

main {
    padding: 6rem 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--dark-green);
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}



.content {
    margin-top: 2rem;
    text-align: justify;
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--lime-green);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--dark-green);
    color: var(--lime-green);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: var(--dark-green);
        padding: 1rem;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .hamburger {
        display: flex;
    }

    h1 {
        font-size: 2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in;
}
