.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 1rem;
    text-align: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.styled-table caption {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-green);
    margin-bottom: 10px;
}

.styled-table thead tr {
    background-color: var(--dark-green);
    color: var(--white);
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 10px 30px;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--light-gray);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark-green);
}

.styled-table tbody tr:hover {
    background-color: var(--lime-green);
    color: var(--dark-green);
    cursor: pointer;
}


.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 1% auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
