<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/GI.css">
    <title>CONAIINT</title>
</head>

<body>

<!-- Modal de error -->
<div id="modalOverlayError" class="modal-overlay">
    <div class="modal">
        <span class="close-button" onclick="closeModalError()">X</span>
        <p>Hubo un error al registrar alumno</p>
    </div>
</div>
<!-- Modal de login -->
<div id="modalOverlayLogin" class="modal-overlay">
    <div class="modal">
        <span class="close-button" onclick="closeModalLogin()">×</span>
        <p>Registro Exitoso</p>
    </div>
</div>

<!-- Modal de error -->
<div id="modalOverlay" class="modal-overlay">
    <div class="modal">
        <span class="close-button" onclick="closeModal()">X</span>
        <p>Correo electrónico o contraseña incorrectos. Inténtalo de nuevo.</p>
    </div>
</div>

<div class="container">
    <div class="info">
        <h1><em>CONAIINT</em></h1><span>Segundo Congreso Nacional de Ingeniería Informática</i>
            </span>
    </div>
</div>
<div class="form">
    <div class="thumbnail"><img src="../Assets/venados.png"/></div>
    <form class="login-form" method="post" action="../Control/alumno.php">
        <input type="text" placeholder="Nombre (s)" name="nombre"/>
        <input type="text" placeholder="Apellido Paterno" name="apellidop"/>
        <input type="text" placeholder="Apellido Materno" name="apellidom"/>
        <input type="text" placeholder="Matricula" name="matricula"/>
        <input type="text" placeholder="Numero Credencial" name="credencial"/>
        <select name="grupo" id="lang">
            <option value="II-101">II-101</option>
            <option value="II.102">II-102</option>
            <option value="II-103">II-103</option>
            <option value="II-301">II-301</option>
            <option value="II-302">II-302</option>
            <option value="II-302">II-303</option>
            <option value="II-501">II-501</option>
            <option value="II-502">II-502</option>
            <option value="II-503">II-503</option>
            <option value="II-701">II-701</option>
            <option value="II-702">II-702</option>
        </select>
        <button type="submit">Alta</button>
    </form>
</div>


</body>
<script>
    // Función para cerrar el modal
    function closeModal() {
        document.getElementById('modalOverlay').style.display = 'none';
    }

    // Mostrar el modal si 'error=1' está en la URL
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('error') === '1') {
        document.getElementById('modalOverlay').style.display = 'block';
    }
</script>

<script>
    // Función para cerrar el modal
    function closeModalError() {
        document.getElementById('modalOverlayError').style.display = 'none';
    }

    function closeModalLogin() {
        document.getElementById('modalOverlayLogin').style.display = 'none';
    }

    // Mostrar el modal si 'error=1' está en la URL
    const urlParamsLogin = new URLSearchParams(window.location.search);
    if (urlParamsLogin.get('status') === 'true') {
        document.getElementById('modalOverlayLogin').style.display = 'block';
        setTimeout(() => {
            window.location.href = "sistema.html";
        }, 1000);
    } else if (urlParamsLogin.get('status') === 'false') {
        document.getElementById('modalOverlayError').style.display = 'block';
    }
</script>

</html>