<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" href="../Assets/venados.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ruta correcta para vincular el archivo CSS -->
    <link href="../CSS/sis.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <!-- Modal de error -->
    <div id="modalOverlay" class="modal-overlay">
        <div class="modal">
            <span class="close-button" onclick="closeModal()">×</span>
            <p>Correo electrónico o contraseña incorrectos. Inténtalo de nuevo.</p>
        </div>
    </div>
    <!-- Modal de login -->
    <div id="modalOverlayLogin" class="modal-overlay">
        <div class="modal">
            <span class="close-button" onclick="closeModalLogin()">×</span>
            <p>INICIO EXITOSO Redirigiendo...</p>
        </div>
        
    </div>
    <header>
        <nav>
            <div class="logo-container">
                <img src="../Assets/venados.png" alt="TESSFP Logo" class="logo-img">
                <span class="logo-text">TESSFP Ingeniería informática</span>
            </div>
            <div class="menu">
                <a href="">Inicio</a>
                <a href="galeria.html">Bolsa de Trabajo</a>
                <a href="#contacto">Mesas de trabajo</a>
                <a href="#contacto">Inicio de Sesíon</a>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <!-- Modal de error -->
    <div id="modalOverlay" class="modal-overlay">
        <div class="modal">
            <span class="close-button" onclick="closeModal()">X</span>
            <p>Usuario</p>
        </div>
    </div>

    <div class="container">
        <div class="info">
            <h1><em>Inicio de Sesión</em></h1><span>Academia Ingeniería Informática</i>
            </span>
        </div>
    </div>
    <div class="form fade-in">
        <div class="thumbnail"><img src="../Assets/venados.png" /></div>
        <form class="login-form" method="post" action="../Control/login.php">
            <input type="text" placeholder="username" name="user" />
            <input type="password" placeholder="password" name="pass" />
            <a href="#" >
                <spam class="logo-text">No tienes Cuenta?</spam>
            </a>
            <button type="submit" class="btn">login</button>
            
        </form>
    </div>
    </main>
    <script src="JS/index.js"></script>
    
    
    
    <script>

        // Función para cerrar el modal
        function closeModalLogin() {
            document.getElementById('modalOverlayLogin').style.display = 'none';
        }
        // Mostrar el modal si 'error=1' está en la URL obtiene la respuesta del php login
        const urlParamsLogin = new URLSearchParams(window.location.search);
        if (urlParamsLogin.get('success') === 'admin') {
            document.getElementById('modalOverlayLogin').style.display = 'block';
            setTimeout(() => {
                window.location.href = "../ViewsAdmin/menuAdmin.html";
            }, 3000);
        }
        if (urlParamsLogin.get('success') === 'user') {
            document.getElementById('modalOverlayLogin').style.display = 'block';
            setTimeout(() => {
                window.location.href = "../ViewsDocente/menuDocente.html";
            }, 3000);
        }
        if (urlParamsLogin.get('success') === 'academico') {
            document.getElementById('modalOverlayLogin').style.display = 'block';
            setTimeout(() => {
                window.location.href = "../ViewsAcademico/menuAcademico.html";
            }, 3000);
        }
        if (urlParamsLogin.get('success') === 'jefe de division') {
            document.getElementById('modalOverlayLogin').style.display = 'block';
            setTimeout(() => {
                window.location.href = "../ViewsJDivision/menuJDivision.html";
            }, 3000);
        }
    </script>
    

</body>

</html>